@model Knoex.ViewModels.TagViewModel
@{
    ViewData["Title"] = "Tags";
}
<div class="flex flex-wrap">
    @* TODO: Implement tag paging *@
    @foreach (Tag tag in Model.Tags.Results)
    {
        <a href="/search?q=@tag.Name"
            class="text-lg m-1 px-4 border rounded-full bg-white hover:bg-indigo-700 hover:text-white">
            @tag.Name
        </a>
    }
</div>